.vfrc-message.vfrc-message--extension-OpenAIAssistantsV2._1ddzqsn7 {
    color: #1a1e23;
    font-family: Open Sans; 
    position: relative;
    min-height: 41px;
    min-width: 64px;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    width: fit-content;
}

.vfrc-message.vfrc-message--extension-OpenAIAssistantsV2._1ddzqsn7 img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
  }

.response-container ol {
    margin-left: -20px; 
    padding-left: 0;    
}

.response-container {
    margin-left: -1px;
}

.response-container ol p {
    margin-left: 20px; /* Adjust this value to move it further to the right */
}

